<header>
    <h1> Framework Register </h1>
    <hr />
</header>

<body>
    <div class="container">
        <form> 
        </form>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <img class="card-img">
                    
                    <div class="card-list"> 

                    </div>
                    
                    <div class="card-options">    
                        <a href="#">
                            <i> edit </i>
                        </a>
                        <a href="#">
                            <i> delete </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>

