header, body {
    font-family: "Courier New", Monospace;
}

.container {

}

.row {
    max-width: 70%;
    margin: 0 auto;
    border: 0px solid #ccc;
    display: flex;
}

.col {
    width: 100%;
    border: 0px solid #125;
    margin: 8px;
}

input[type=text], input[type=number], textarea {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Courier New", Monospace;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.style-select {
   width: 92%;
   border: 0px solid #ccc;
   margin: 7px 0;
   border-radius: 4px;
   font-family: "Courier New", Monospace;
}

.style-select select {
   border: 1px solid #ccc;
   padding: 12px 20px;
   width: 100%;
   border-radius: 4px;
   font-family: "Courier New", Monospace;
}

.btn-primary {
    width: 10%;
    padding: 12px 0px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    background-color: #8A2BE2;
    color:white;
    margin:8px;
}

.btn-primary[Disabled] {
    background-color: rgb(188, 116, 237);
}